body{
    background: #ffffffff;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
}
#login-box{
    margin-top: 100px;
}
#login-box .panel-heading{
    text-align: center;
}
#login-box .panel-heading a{
    font-weight: 600;
    font-size: 20px;
    color: #FE980F;
    text-decoration: none;
}

#register-box{
    margin-top: 100px;
}
#register-box .panel-heading{
    text-align: center;
}
#register-box .panel-heading a{
    font-weight: 600;
    font-size: 20px;
    color: #FE980F;
    text-decoration: none;
}
#login-box input{
    border-radius: 0px;
}
#login-box button{
    border-radius: 0px;
    background: #FE980F;
    border: 0px;
}

#register-box input{
    border-radius: 0px;
}
#register-box .btn{
    border-radius: 0px;
    background: #FE980F;
    border: 0px;
}
#reset-box{
    margin-top: 100px;
}
#link-option{
    margin-top: 10px;
}
#link-option a{
    color: #666;
    text-decoration: none;
}
#login-link{
    margin-top: 10px;
}
#login-link a{
    color: #666;
    text-decoration: none;
}
#remember-me{
    color: #666;
}
#reset-box{
    margin-top: 100px;
}
#reset-box .input-group{
    margin-bottom: 20px;
}
#reset-box .panel-heading{
    text-align: center;
}
#reset-box .panel-heading a{
    font-weight: 600;
    font-size: 20px;
    color: #FE980F;
    text-decoration: none;
}
#reset-box .btn-primary{
    background: #FE980F !important;
    border: 0px solid #c1c1c1;
}
#reset-box input{
    border-radius: 0px;
}
#user-name p{
    padding-left: 20px;
}
.user-detail ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #f1f1f1;
}
.user-detail ul li a i{
    width: 30px;
}
.user-detail ul li:hover a{
    color: #FE980F;
}
.user-detail ul li a{
    text-transform: initial;
    font-size: 13px;
}

.user-detail ul li i{
    padding-right: 10px;
}
.form-control {
    border-radius: 0px;
}

#profile-box{
    border: 1px solid #f1f1f1;
}

#profile-box .form-group{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
#profile-box .form-group .control-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
#change-password-box .form-group .control-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
}
.panel-primary{
    border-radius: 0px;
    border: 1px solid #FE980F;
}
.panel-primary .panel-heading {
    background: #FE980F;
    border-bottom: 0px;
    padding: 3px 15px 3px 15px;
    border-radius: 0px;
}
.btn-primary {
    background: #FE980F;
    border-radius: 4px !important;
}
.avatar{
    margin-left: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    border: 2px solid #a7a3a3;
    background-color: #c1c1c1;
}
#user-name h5{
    padding-left: 20px;
}
#change-password-box{
    border: 1px solid #f1f1f1;
}
#change-password-box .form-group{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
#add_category{
    border: 0px;
    background: #F0F0E9;
    color: #696763;
    border-left: 1px solid #ffffff;
}
#select_category{
    border: 0px;
    background: #F0F0E9;
    color: #696763;
    border-right: 1px solid #ffffff;
}

.table-bordered thead tr th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 0px;
}
.table-bordered tbody tr td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
}
.navbar-primary{
    background: #FE980F;
    border-radius: 0px;
    color: #ffffff;
    margin-bottom: 40px;
}
.navbar-primary .navbar-collapse ul li a{
    color: #ffffff;
}
.navbar-primary .navbar-collapse ul li:hover a{
    color: #666;
}
.navbar-toggle{
    background: #FE980F;
}
.navbar-toggle .icon-bar{
    background: #ffffff !important;
}
.panel-primary .panel-body ul li{
    border-bottom: 1px solid #f1f1f1;
}

/* left-sidebar */
.left-sidebar .panel-body{
    padding: 15px 15px 15px 0px;
}
.vertical-nav {
    height:auto;
    list-style:none;
    width: 100%;
}
.vertical-nav li {
    height: 30px;
    margin: 0;
    padding: 5px 0px 0px 5px;
    border: none;
    text-align: left;
    display: inline-block;
    float: left;
    clear:both;
    text-transform: capitalize;
}

.vertical-nav li a {
    text-decoration:none;
    color: #666 !important;
    text-transform: capitalize !important;
    font-size: 13px !important;
}

.vertical-nav ul li ul {
    display:none;
    list-style-type:none;
    padding:0px;
    margin-top:3px;
    margin-left:-5px;
}
.vertical-nav ul li:hover ul {
    display:block;
}
.vertical-nav ul li:hover ul li {
    width:125px;
    height:30px;
    display:inline-block;
}
.vertical-nav ul li ul li a {
    text-decoration:underline;
    color: #666;
}

.vertical-nav li ul {
    display: none;
    margin-top: 10px;
    padding: 0;
}
.vertical-nav li:hover ul {
    display: block;
}
.vertical-nav li:hover .sub-menu
{
    position: relative;   
    margin-top: -53.5px;
    margin-left: 9px;
}
.sub-menu li
{
    position: relative;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-width: 180px;
    white-space: nowrap;
    z-index:1;
    background: #ffffff;
}
.sub-menu li a
{
    display:inline-block;
    padding: 0 10px;
}
.vertical-nav>li:hover>a{
    color: #FE980F !important;
}
.vertical-nav>li>ul>li:hover>a{
    color: #FE980F !important;
}
.vertical-nav>li:hover>ul>li{
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.fa-search{
    color: #666 !important;
}
/* user info */
.card-profile{
    margin: 0 auto;
}
.card-profile .card-avatar{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid #c1c1c1;
    overflow: hidden;
}
.card-profile .card-name{
    font-size: 16px;
    font-weight: 500;
    color: #666663;
    font-family:  'Roboto', sans-serif;
    text-transform: uppercase;
}
.card-info div{
    display: inline;
    float: left;
    padding: 10px 10px 10px 10px;
}

.card-number-uploads{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 15px solid #666663;
    margin: 0 auto;
}
.card-number-uploads .upload-detail{
    margin-top: 50px;
    text-align: center;
}
.card-document-upload{
    margin-top: 10px;
}
.card-document-upload .recent-upload-title{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
#user-info-card{
    padding-bottom: 20px;
}
.more-detail div{
    text-align: left !important;
    padding-top: 5px;
}

.info i.fa{
    width: 20px;
}
#btn-add-friend{
    padding: 5px 20px 5px 10px;
    background-color: #FE980F;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}
.btn-add{
    margin-top: 5px;
}
.friend_requests{
    color: #c90808;
}
.friends{
    color: #c90808;
}
/* friendlist */
.friends-profile{
    border-top: 1px solid #f1f1f1;
    box-shadow: 1px 1px 1px 1px rgba(68, 65, 65, 0.2);
    margin-right: 10px;
    margin-top: 20px;
}
.friends-profile:hover{
    border-top: 1px solid #f1f1f1;
    box-shadow: 1px 1px 1px 1px rgba(236, 167, 16, 0.801);
    margin-right: 10px;
    margin-top: 18px;
}
.friend-avatar{
    height: 105px;
    overflow: hidden;
    margin-left: -15px !important;
}
.friend-detail .friend-name{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
}
.friend-email>i{
    width: 20px;
}
.friend-phone>i{
    width: 20px;
}
.friend-options>.dropdown>.dropdown-toggle>i.fa{
    width: 20px;
}
.paginate-bar{
    margin-top: 20px;
    margin-bottom: 10px;
}
.no-request h5{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.document-title h5{
    text-align: left;
    font-size: 20px;
    text-transform: capitalize;
    color: #333;
}
.document-more-detail div{
    display: inline;
    padding-right: 30px;
}
.document-statistic div{
    display: inline;
    padding-right: 30px;
}
.viewer-pdf{
    margin-bottom: 20px;
}
.document-options div{
    display: inline;
    padding-right: 20px;
}
.document-options{
    margin-bottom: 20px;
}
a{
    color: #FE980F;
}
.user-upload{
    color: #FE980F;
}
