body{
    background: #ffffffff;
}
#login-box{
    margin-top: 100px;
}
#login-box .input-group{
    margin-top: 30px;
}
#login-box .btn{
    margin-top: 30px;
}
.glyphicon.glyphicon-user{
    top: 0px !important;
}
